.topNav{
  padding:1.5rem;
  box-shadow: 0 0 10px 10px linen;
  max-width:100%;
  height:10vh;
 
  border-radius: 20px;
  text-align: center;
  font-size: 56px;
  font-weight: bolder;
  font-family: Tangerine;
  
}